* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* link styles */

a:hover {
  color: white;
}

/* main navigation */
.main-nav {
  background: #FFC0CB;
  padding: 5px;
  font-family: 'PT Mono', monospace;
}

.navbar-light .navbar-brand {
  color: #0499ff;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link{
  color: #0499ff;
}

#navbarNav > ul > li.nav-item.active > a {
  color: white;
}

.nav .name {
  display: none;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}


header {
  text-align: center;
  background-size:contain;
  overflow: hidden;
}

.carousel {
  width:100%;
  height:450px;
}

header {
  line-height: 1.5;
}

.overpic{
  position:absolute;
  margin-top: 10px;
  padding: 400px
  top:10%;
  left:25%;
  z-index:2;
  border-radius: 10%;
  transition: all 1s;
}

.overpic img{
  width:200px;
  height:200px;
}

header .main-image {
  max-width: 400px;
  max-height: 400px;
  margin-top: 10px;
/*  width: 150px;
  height: 150px;*/
  border-radius: 10%;
  border: 1px solid white;
  transition: all 1s;
}
header .main-image:hover {
  transform: scale(1.1);
}

.tag_main {
  background-color: #efefef;
  color: deepskyblue;
  font-size: 350%;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-left: 20px;
  border-radius: 5px;
  display: table;
  margin: 2px auto;
  opacity: 0.7;
  font-family: 'Pinyon Script', cursive;
}

.tag_secondary {
  background-color: #efefef;
  color: deepskyblue;
  font-size: 130%;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 5px;
  display: table;
  margin: 2px auto;
  opacity: 0.7;
  font-family: 'PT Mono', monospace;
}

.tag_quote {
  background-color: #efefef;
  color: black;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
  display: table;
  margin: 2px auto;
  opacity: 0.7;
  font-family: 'Dancing Script', cursive;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  font-family: 'Bad Script', cursive;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

body > footer {
    position: absolute;
    bottom: 0;
  width: 100%;
  min-height: 30px;

}


a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


h1 {
  background-color: #e2e2e2;
  padding: 5px;
}
h2 {

  padding: 5px;
}

.section-title {
  text-transform: capitalize;
}

#card-overrides {
   text-align:center;
   border: solid black 3px;
   border-radius:5px;
   color: deepskyblue;
   border-color: #FFC0CB;
}

/* Styles for larger screens */
@media screen and (min-width: 680px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  .overpic{
    left:33%;
  }

  .overpic img{
    width:400px;
    height:400px;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {

    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
    font-family: 'PT Mono', monospace;
  }

  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    font-family: 'Bad Script', cursive;
  }

 .card-title {
    text-align:center;
    border: solid black 3px;
    border-radius:5px;
    color: deepskyblue;
    border-color: #FFC0CB;
  }

}





}
