{% block footer %}
<footer>
    <!-- Footer Links -->
    <div class="footerSocial">
      <!-- Twitter Links -->
      <a href="https://twitter.com" target="_blank">
      <img src="{{url_for('static', filename='photos/twitter.jpg')}}" width="35" height="34" alt="Twitter"></a>
      <!-- Facebook Links -->
      <a href="https://www.facebook.com" target="_blank">
      <img src="{{url_for('static', filename='photos/facebook.jpg')}}" width="35" height="34" alt="Facebook"></a>
      <!-- Instagram Links -->
      <a href="https://www.instagram.com" target="_blank">
      <img src="{{url_for('static', filename='photos/instagram.png')}}" width="35" height="34" alt="Instagram"></a>
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:Doodle Designs
    </div>
      <!-- Copyright -->
</footer>
{% endblock %}
